{% if user.is_authenticated %}
  <form action="{% url 'candidate_vote' object.id %}" method="POST">
    {% csrf_token %}

    {% if candidate_is_voted %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Unvote</button>
    {% else %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Vote</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to vote!</a><br>
{% endif %}
<strong class="text-secondary">{{ number_of_votes }} Votes{{ number_of_votes|pluralize }}</strong>